.main-container{
    background-color: white;
    width: 100%;
}
.parent-container{
    padding: 1.5rem;
    display: flex;
    gap: 5rem;
    flex-direction: column;
}
.header-container{
    display: flex;
    align-items: center;
}
.pagination-container{
    display: flex;
    gap: 2rem;
}
.button-container{
    display: flex;
    gap: 1rem;
}
.record-stock-in-button{
    background-color: red;
    color: white;
    border: none;
}
.add-ingredient-button,
.record-stock-in-button{
    cursor: pointer;
    border-radius: 10rem;
    padding: 0.2rem 1.5rem;
}
.add-ingredient-button{
    border: 2px solid red;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    text-align: center;
    vertical-align: middle;
    width: 16.66%;
    padding: 1rem;
    text-align: left;
}
td{
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}
.floating-add-ingredient-container{
    display: none;
    border-radius: 0.5rem;
    background-color: rgb(222, 222, 222);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.floating-add-ingredient-container.active{
    display: block;
}
.floating-add-ingredient-container-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.floating-add-item{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background-color: rgb(241, 240, 240);
}
.floating-add-item-category-container{
    padding: 1rem 2rem;
}
.floating-add-ingredient-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.floating-add-item-options{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
.my-alert {
    position: fixed;
    top: 10%;
    left: 50%;
    background-color: #09bb21; 
    color: black;               
    padding: 15px 20px;
    border-radius: 8px;
    margin: 10px 0;
    font-weight: bold;
}