.menu-pricing-parent-container {
    width: 100%;
    max-width: 90rem;
    min-height: 45rem;
    background: white;
    padding: 1.9rem;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.controls-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.search-input {
    border-radius: 0.5rem;
    border: 1px solid grey;
    width: 30rem;
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
}

.pagination-container p {
    margin-top: 0.8rem;
    margin-right: 2rem;
}
.pagination-container .page-link {
    margin-top: 0.7rem;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    transition: 0.2s;
}
.pagination-container .page-link:hover,
.pagination-container .active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.add-item-button{
    border: none;
    background: red;
    color: white;
    font-size: 1.4rem;
    padding: 0 1rem;
    border-radius: 10rem;
}
.floating-add-item-options,
.floating-edit-item-options{
    display: flex;
    gap: 2rem;
    padding-left: 40%;
}
.cancel-button{
    background-color: rgb(246, 91, 91);
}
.cancel-button,
.add-button,
.save-button {
    min-width: 7rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    cursor: pointer;
}
.add-button {
    background-color: rgb(107, 107, 207);
    color: black;
}
.save-button{
    background-color: rgb(66, 194, 66);
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
th, td {
    padding: 1rem;
    vertical-align: middle;
}
.tr {
    border-top: 1px solid grey;
}
.product-image {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.floating-edit-item-container,
.POST-class{
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}
.floating-add-item-container,
.floating-edit-item-container,
.floating-delete-item-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9f9;
    border-radius: 0.6rem;
    flex-direction: column;
    z-index: 1000;
}
.floating-add-item-container.show,
.floating-edit-item-container.show,
.floating-delete-item-container.show {
    display: flex;
}
.floating-add-item,
.floating-edit-item{
    background-color: white;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
}
.floating-add-item span,
.floating-edit-item span{
    font-size: 1.3rem;
}
.floating-add-item-category-container,
.floating-edit-item-category-container{
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}
.POST-class,
.floating-edit-item-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #d5d3d3;
}
.input {
    width: 100%;
    padding: 0.2rem 0.5rem;
    border: 0.2px solid grey;
    border-radius: 0.2rem;
}
.category-input-wrapper {
    display: inline-flex;
    gap: 0.2rem;
    width: 12.2rem;
    background: #e6e6e6;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
.category-input-wrapper input {
    display: none;
}
.category-input-wrapper input:checked + label {
    background: #fafdff;
    color: #2975da;
    border-color: #007bff;
}
.category-input-wrapper label {
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.floating-add-item-image-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.file-upload-area {
    border: 2px dashed #d1d5db;
    border-radius: 8px;
    padding: 3rem 2rem;
    text-align: center;
    cursor: pointer;
    background: white;
    transition: all 0.3s;
}
.file-upload-area.dragover,
.file-upload-area:hover {
    border-color: #6366f1;
    background: #f0f0ff;
}
.upload-icon {
    width: 48px;
    height: 48px;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    color: #9ca3af;
}
.upload-text, .file-name {
    font-size: 0.875rem;
}
.choose-file-button{
    color: green;
}
.my-alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: #09bb21;
    color: black;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: bold;
    z-index: 1001;
}
#filter-button{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}
.filter-dropdown {
    top: 11%;
    left: 27.2%;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
}
.filter-dropdown .filter-option {
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}
.filter-dropdown .filter-option:hover {
    background: #f0f0f0;
}
.td-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-top: 1.8rem;
}
.fa-pencil,
.fa-trash{
    color: grey;
    font-size: 1rem;
}
.floating-delete-item-container-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.floating-delete-item-options{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.edit-button, .delete-button {
    border: none;
    background: none;
    cursor: pointer;
    color: grey;
}
.delete-confirm-button {
    background: #7d1307;
    color: white;
    border: none;
    cursor: pointer;
    min-width: 7rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}
.overlay.show {
    display: block;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}