.pos-main-container{
    display: flex;
    flex: 1;
    background-color: rgb(246, 246, 246);
    width: 100%;
    min-height: 45rem;
    min-width: 0;
    max-width: 90rem;
    max-height: 50rem;
}
.food-options-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.8rem;
    border: 0.5px solid red;
}
.header-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}
.input-wrapper{
    width: 100%;
}
.input-wrapper input{
    border-radius: 0.3rem;
    width: 100%;
    border: none;
    padding: 0.2rem;
}
.filter-wrapper{
    display: flex;
    margin-left: auto;
    gap: 2rem;
    flex-direction: row;

}
.filter-wrapper button{
    gap: 5rem;
    border: none;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.8rem;
}
.food-options{
    display: grid;
    grid-template-columns: repeat(3, 15rem); 
    gap: 2rem;
}
.food-box{
    border: 0.9px solid red;
    border-radius: 0.9rem;
    max-width: 15rem;
}
.image-container{
    position: relative;
}
.image-container img {
    width: 100%;
    display: block;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
}
.image-container span{
    position: absolute;
    bottom: 0px;
    background: rgba(47, 47, 47, 0.491); 
    width: 100%;
    color: white;
}
.price-container{
    padding: 0.3rem;
    background-color: white;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}
.food-options-container {
    flex: 3;
}
.transaction-container{
    border: 0.5px solid red;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 18rem;
    gap: 2rem;
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.added-product-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.added-food-box{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.added-food-box-photo img{
    max-width: 5rem;
}

.added-food-box-controls{
    display: flex;
    justify-content: space-between;
}

.checkout-container{
    background-color: yellow;
    border-radius: 0.5rem;
}
.added-food-box-price{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}