.main-container {
    width: 100%;
    background-color: white;
    padding: 1.9rem;
    box-sizing: border-box;
    /* Ensure no margin causes gaps */
    margin: 0;
}

.parent-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container {
    background-color: rgb(244, 243, 243);
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.filter-dropdown {
    position: fixed;
    top: 10%;
    left: 27.9%;
    display: none;
    border-radius: 0.6rem;
    z-index: 1000;
    background-color: white;
    padding: 0.6rem;
}

.filter-dropdown.active {
    display: flex;
}

.filter-dropdown-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-dropdown-form select {
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer
}

.filter-dropdown-form button {
    background-color: rgb(80, 208, 80);
    border-radius: 0.6rem;
    border: none;
    padding: 0.2rem 1rem;
}

.search-container {
    flex: 1;
    max-width: 25rem;
}

.search-input {
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid #e0e0e0;
    background: #fcfcfc;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.date-container button {
    padding: 8px 16px;
    border-radius: 0.7rem;
    border: 1px solid white;
    background: #f5f5f5;
    cursor: pointer;
    font-weight: 500;
}

.date-container button:hover {
    background: #eaeaea;
}

.date-filter-button {
    display: flex;
    align-items: center;
}

.fa-calendar {
    color: black;
    font-size: 1rem;
}

.pagination-container {
    display: flex;
}

.export-sales-data-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 10rem;
}

.fa-print {
    color: black;
    font-size: 1.4rem;
}

.main-body-container {
    background-color: rgb(244, 243, 243);
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    text-align: center;
    vertical-align: middle;
    width: 16.66%;
    padding: 1rem;
    text-align: left;
}

td {
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}